body {
  background-image: url("background1.png");
  background-position: center;
  background-size: cover;
  position: relative;
  text-align: center;
  background-attachment: fixed;
  font-family: 'Roboto Condensed', sans-serif;

};
